.list-group-item {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.list-group-item img.img-fluid {
  max-width: 30%;
  height: auto;
  display: block;
  margin: auto;
}

.active {
  background-color: #5d8aa8;
}

.row.list-group-item {
  height: 62vh;
}
