@import "~bootstrap/dist/css/bootstrap.css";

.col {
  background-color: #5d8aa8;
}

footer .navbar .col {
  max-height: 100px;
  max-width: 100px;
  height: 70px;
  width: 70px;
  margin: 5px;
}

img {
    width: 70%;
    padding: 10px;
}
