<body>
  <div class="row d-flex justify-content-center">
    <div class="col" routerLink="/personal-info">
      <p>View personal Info</p>
    </div>
    <div class="col" routerLink="/team-memebrs">
      <p>All Team Members</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col" routerLink="/team-stats">
      <p>Team Statistics</p>
    </div>
    <div class="col" routerLink="/add">
      <p>Add Team Member</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col" routerLink="/upload">
      <p>Bulk Upload</p>
    </div>
    <div class="col" routerLink="/download">
      <p>Bulk Download</p>
    </div>
  </div>
</body>
